body {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    height: 8vh;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 400px;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.logo-and-search {
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 600px;
    margin: 20px 0;
}

.logo {
    position: fixed;
    left: 0;
    margin-left: 30px;
    top: 70px;
    transform: translateY(-50%); /* Adjusts for the image height */
    max-width: 100px; 
    height: auto;
}

.navbar {
    display: flex;
    flex-grow: 1;
    border: 1px solid #dfe1e5;
    border-radius: 50px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    margin-left: -500px;
    margin-right: 300px;
}

.navbar form {
    display: flex;
    align-items: left;
    width: 100%;
}
  
.form-control {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px;
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-button .fa-search {
    font-size: 18px;
    color: #1e8dd7;
}

.search-button:hover .fa-search {
    color: #435de0;
}

.links {
    display: flex;
    justify-content: flex-end;
    width: 60%;
    max-width: 600px;
    margin-bottom: 20px;
}

.links a {
    color: black;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
}

.links a:hover {
    background-color: #ddd;
    color: black;
}

.container {
    width: 100vw; /* Extend beyond the viewport width */
    max-width: 800px;
}

.search-results {
    display:flexbox;
    width: 330%;
    margin-top: 130px;
    margin-left: 170px;
}

.result-title {
    font-size: 1.25em;
    color: #1a0dab;
    text-decoration: none;
}

.result-url {
    font-size: 0.875em;
    color: #006621;
}

.result-snippet {
    font-size: 0.875em;
    color: #333;
}

.secondNav  {
    padding: 10px 0;
    position: absolute;
    top: 100px; 
    left: 180px;
}

.secondNav  ul{
    margin-left: 50px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid lightgray;
    padding: 4px;
}

.secondNav ul li {
    margin: 0 15px;
    
}

.secondNav  ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.result-item {
    margin-left: 50px;
    margin: 40px;
}